.content-baner {
    max-width: 640px;
    position: relative;
    z-index: 2;
    @include mq("desktop-lg") {
        max-width: 500px;
    }
    @include mq("desktop") {
    }
    @include mq("tablet") {
        max-width: 325px;
    }
    @include mq("tablet-sm") {
        max-width: 280px;
    }
    @include mq("mobile") {
        max-width: 180px;
    }

    &__title {
        @include line-clamp(2);
        position: relative;
        margin-bottom: 17px;
        padding-top: 20px;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: var(--black-color);
            top: 0;
            right: 0;
        }
        &::before {
            width: 95%;
            height: 2px;
        }
        &::after {
            width: 2px;
            height: 100%;
        }
        @include mq("tablet") {
            padding-top: 0;
            &::before,
            &::after {
                display: none;
            }
        }
        @include mq("mobile") {
            margin-bottom: 5px;
        }
    }
    &__descr {
        @include adaptiv-font(25, 10);
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.25px;
        margin-bottom: 24px;
        @include mq("mobile") {
            margin-bottom: 5px;
        }
    }
}
