.choices {
    margin-bottom: 0;
    @include hover {
        .choices__inner {
            background-color: var(--light-blue-hover);
        }
    }
    &:active {
        .choices__inner {
            background-color: var(--light-color);
        }
    }
}
.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
}
.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
    display: none;
}
.choices__inner {
    background-color: var(--light-color);
    border: 1px solid var(--silver-color);
    border-radius: 0;
    transition: background-color var(--transition);
}
.choices[data-type*="select-one"]::after {
    display: none;
}
.choices[data-type*="select-one"]::before {
    @include pseudo;
    @include img-bg;
    background-image: url("../img/arrow-select.svg");
    width: 12px;
    height: 7px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform var(--transition);
}
.choices {
    color: var(--black-color);
    font-size: 14px;
}
.catalog__sort .choices {
    text-transform: uppercase;
}
.choices.is-open::before {
    transform: translateY(-50%) rotate(180deg);
}

.is-open .choices__inner {
    border-radius: 0;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 13;
}
