.dashboard {
    &__inner {
        max-width: 1060px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        @include mq("tablet") {
            flex-direction: column;
            padding: 0;
        }
    }
    &__sidebar {
        width: 28%;
        @include mq("tablet") {
            width: 100%;
        }
    }
    &__body {
        width: 62%;
        @include mq("tablet") {
            width: 100%;
        }
    }
}
