.dashboard-section {
    &:not(:last-child) {
        @include margin-bottom(64, 30);
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 10px;
        @include margin-bottom(25, 10);
    }
    &__list {
        display: grid;
        grid-template-columns: 50% auto;
        gap: 20px;
        @include mq("mobile") {
            grid-template-columns: auto;
        }
    }
    &__subtitle {
        color: var(--black2-color);
        @include adaptiv-font(18, 14);
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__text {
        @include adaptiv-font(16, 12);
        font-family: "Roboto", sans-serif;
        color: var(--gray1-color);
        margin-bottom: 8px;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}
