.footer {
    background-color: var(--black-color);
    color: var(--light-color);
    padding: 65px 0 40px;
    text-transform: uppercase;
    @include mq("tablet") {
        padding: 40px 0 24px;
    }
    @include mq("mobile") {
        padding-top: 30px;
    }
    &__inner {
        min-height: 380px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 65px;
        @include mq("tablet") {
            flex-direction: column;
            gap: 0;
            padding-bottom: 40px;
        }
    }
    &__column {
        @include mq("tablet") {
            border-bottom: 1px solid var(--black2-color);
        }
    }
    &__logo {
        @include mq("tablet") {
            display: flex;
            justify-content: center;
        }
    }
    &__column-title,
    &__join-title {
        @include adaptiv-font(18, 14);
        font-weight: 600;
        padding-bottom: 30px;
    }
    &__column-title {
        @include mq("tablet") {
            position: relative;
            padding: 13px 0;
            &::before,
            &::after {
                @include pseudo;
                background-color: var(--black2-color);
                width: 20px;
                height: 2px;
                top: 50%;
                right: 0;
            }
            &::after {
                transform: rotate(90deg);
                transition: transform var(--transition);
            }
            &.is-active {
                &::after {
                    transform: rotate(0);
                }
            }
        }
    }

    &__column-content {
        font-family: "Roboto", sans-serif;
        @include mq("tablet") {
            display: none;
        }
        &.is-open {
            display: block;
        }
    }

    &__join-title {
        @include mq("tablet") {
            padding-top: 24px;
            padding-bottom: 15px;
        }
    }
    &__column-link {
        color: var(--gray1-color);
        font-size: 13px;
        line-height: 2;
        @include mq("desktop") {
            display: block;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    &__copyright {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        line-height: 2;
        font-weight: 500;
        padding-top: 15px;
        border-top: 1px solid var(--gray2-color);
        @include mq("tablet") {
            border-top: none;
        }
    }
}

.form-subscribe {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    &__title {
        color: var(--gray1-color);
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: 400;
    }
    &__label {
        margin-bottom: 7px;
    }
    &__input {
        width: 100%;
        color: var(--light-color);
        background-color: var(--black-color);
        border: 1px solid var(--light-color);
        font-size: 12px;
        line-height: 1.5;
        padding: 10px 15px;
        transition: box-shadow var(--transition);
        &::placeholder {
            color: var(--light-color);
        }

        &:focus {
            box-shadow: 0 0 0 2px inset var(--light-color);
        }
    }
    &__btn {
        color: var(--black2-color);
        background-color: var(--light-color);
        padding: 14px;
        transition:
            color var(--transition),
            background-color var(--transition),
            box-shadow var(--transition),
            transform var(--transition);

        @include hover {
            color: var(--light-color);
            background-color: transparent;
            box-shadow: 0 0 0 1px inset var(--light-color);
        }
        &:active {
            transform: translateY(2px);
        }
    }
}
