.grid-cards {
    @include margin-bottom(60, 0);

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 45px;

        @include mq("desktop") {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        @include mq("mobile") {
            @include margin-bottom(30, 20);
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    &__bottom {
        text-align: center;
        padding-top: 20px;
    }
}