.wishlist-card {
    display: flex;
    gap: 9px;
    height: 100%;
    transition: box-shadow var(--transition);

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__img {
        margin-bottom: 7px;

        &:focus {
            box-shadow: 0 0 0 2px var(--black-color);
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__body {
        margin-bottom: 17px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 12px;

        @include hover {
            text-decoration: underline;
        }
    }

    &__title {
        @include adaptiv-font(18, 12);
        @include line-clamp(2);
        font-weight: 400;
    }

    &__price {
        font-family: "Roboto", sans-serif;
        color: var(--gray1-color);
        font-size: 14px;
        margin-top: auto;
        margin-bottom: 17px;
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label {
        margin-right: 10px;

        @include mq("tablet") {
            display: none;
        }
    }

    &__input {
        text-align: center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--silver-color);
        transition: box-shadow var(--transition);

        &:focus {
            border: 1px solid var(--black-color);
        }
    }

    &__btn {
        width: 100%;
        padding: 12px;
        text-wrap: nowrap;
    }
}